@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Cormorant+Garamond&family=Imbue&family=Montserrat&family=Nanum+Myeongjo&family=Noto+Serif+Armenian&family=Playfair&family=Varela+Round&family=Ysabeau&display=swap');

P{
    color:black;
    font-size: 50px;
}
p:nth-child(1){
    font-family: 'Chakra Petch', sans-serif;
    display: none;
}
p:nth-child(2){
    font-family: 'Cormorant Garamond', serif;
    display: none;
}
p:nth-child(3){
    font-family: 'Imbue', serif;
    display: none;
}
p:nth-child(4){
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}
p:nth-child(5){
    font-family: 'Nanum Myeongjo', serif;
    display: none;
}
p:nth-child(6){
    font-family: 'Noto Serif Armenian', serif;
    display: none;
}
p:nth-child(7){
    font-family: 'Playfair', serif;
    display: none;
}
p:nth-child(8){
    font-family: 'Varela Round', sans-serif;
    display: none;
}
p:nth-child(9){
    font-family: 'Ysabeau', sans-serif;
    letter-spacing: 5px;
}




/* font-family: 'Chakra Petch', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Imbue', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Serif Armenian', serif;
font-family: 'Playfair', serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Ysabeau', sans-serif; */